{% extends 'base.html' %}

{% block title %}Рассылки{% endblock %}

{% block content %}
{% url 'newsletters:newsletter_form' as newsletter_url %}
{% if user.is_staff %}
{% include 'header.html' with header_title="Все рассылки" header_lead="Модератору доступен просмотр всех рассылок. Нажмите на рассылку что бы просмотреть её детали." %}
{% else %}
{% include 'header.html' with header_title="Мои рассылки" header_lead="Ниже представлен список рассылок. Нажмите на рассылку что бы просмотреть её детали. Используйте кнопку выше что бы добавить новую рассылку." header_button="Добавить новую рассылку" header_url=newsletter_url %}
{% endif %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="list-group shadow-sm">
                {% for newsletter in newsletters %}
                <a href="{% url 'newsletters:newsletter_detail' newsletter.pk %}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-3">
                    <div class="text-dark">
                        {% if user.is_staff %}
                        <span>Рассылка №{{ newsletter.pk }}.</span>
                        {% else %}
                        <span>Рассылка.</span>
                        {% endif %}
                        <span class="ms-2"><strong>Тема:</strong> "{{ newsletter.message.subject }}"</span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}