{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{% if is_update %}Редактирование получателя{% else %}Добавление получателя{% endif %}
{% endblock %}

{% block content %}
{% if is_update %}
{% include 'header.html' with header_title="Редактирование получателя" header_lead="Измените необходимые данные." %}
{% else %}
{% include 'header.html' with header_title="Добавление получателя" header_lead="Заполните информацию о новом получателе." %}
{% endif %}

<div class="container" style="max-width: 500px;">
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-between mt-3">
            {% if link %}
            <a class="btn btn-outline-secondary mt-3" href="{{ link.recipient.get_absolute_url }}">Отмена</a>
            {% else %}
            <a class="btn btn-outline-secondary mt-3" href="{% url 'newsletters:recipient_list' %}">Отмена</a>
            {% endif %}
            <button type="submit" class="btn btn-primary mt-3">
                {% if is_update %}Сохранить изменения{% else %}Добавить{% endif %}
            </button>
        </div>
    </form>
</div>
{% endblock %}