{% extends 'base.html' %}

{% block title %}Получатель{% endblock %}

{% block content %}
{% include 'header.html' with header_title="Удалить получателя из системы" header_lead="Вы должны подтвердить удаление получателя" %}
<div class="container" style="max-width: 500px;">
    <p>Вы уверены, что хотите убрать <strong>{{ link.recipient.email }}</strong> из списка получателей?</p>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="d-flex justify-content-between mt-3">
            <a class="btn btn-outline-secondary" href="{{ link.recipient.get_absolute_url }}">Отмена</a>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </div>
    </form>
</div>
{% endblock %}